html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: #D2B498;
}

/*NavBar style*/

nav {
    width: 100%;
    height: 5em;
    padding: 1em;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: #D4A272;
}

nav figure {
    width: 20%;
    display: flex;
    align-items: center;
}

nav figure img {
    width: 30%;
    height: 150%;
}

nav figcaption {
    margin-left: 0.5em;
}

nav button {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    margin-right: 5em;
}

nav button img {
    width: 64px;
}

.links {
    display: flex;
    gap: 3em;
    list-style-type: none;
    align-items: center;
    margin-right: 5em;
}

.links a {
    color: black;
    text-decoration: none;
}

.links a:hover {
    color:#9c7047;
    text-decoration: underline;
}

/*Main style*/

main figure {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    background-color: black;
}

main img {
    width: 100%;
}

main figure img {
    opacity: 0.65;
}

main figcaption {
    position: absolute;
    top: 50%;
    text-align: center;
    color: white;
    width: 100%;
}

main section {
    margin-top: 10em;
    width: 100%;
}

main section h2 {
    text-align: center;
}

.home-card-group {
    margin-top: 2em;
    margin-bottom: 10em;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.home-card {
    width: 30%;
    background-color: #D4A272;
    border-radius: 15px;
    margin-right: 20px;
}

.home-card-title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.book-card-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2em;
}

.book-card-group-favourites {
    margin-top: 5em;
    margin-bottom: 5em;
}

.book-card {
    background-color: #D4A272;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 50%;
    width: 20%;
    padding: 0.5em;
    text-align: center;
    border-radius: 15px;
    margin-top: 0em;
}

.loading-image {
    position:absolute;
    height: 1%;
    width: fit-content;
    border-radius: 5px;
}

.loading-image p {
    margin: 1em;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader-container {
    text-align: center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

.book-card img {
    margin-top: 3em;
    width: 200px;
    height: 300px;
    border-radius: 5px;
}

.book-card p {
    margin-top: 2.5em;
    font-size: 20px;
    flex: 1 0 auto;
}

.book-card a {
    margin-top: 2.5em;
    width: 50%;
    background-color: #a87f59;
    border-radius: 15px;
    line-height: 3em;
    color: black;
}
.book-card a:hover {
    color: white;
}

.book-info {
    display: grid;
    grid-template-columns: 30% 60% 10%;
    margin: 5em auto 5em auto;
    background-color: #D4A272;
    padding: 2em;
    width: 60%;
    border-radius: 15px;
}

.book-info-buttons {
    grid-column: 3;
    padding-left: 2em;
}

.book-info-buttons button {
    background-color: transparent;
    border:0;
    width:50%;
    display: block;
    margin: 2em auto;
    margin-top: 0;
}

.book-info-buttons button:hover {
    cursor: pointer;
}

.noResults {
    margin: 0 auto 30em auto;
    text-align: center;
}

#amazonButton {
    width: 50%;
    display: block;
    margin: 2em auto;
}

.book-info-content {
    margin:0;
    grid-column: 2;
}

.book-info-content h2, .book-info-content h3, .book-info-content p {
    text-align: left;
    margin:0;
    margin-bottom: 2em;
}

.book-info-image {
    grid-column: 1;
}

.book-info-image img {
    height: 400px;
    width: 300px;
}

main section section article p {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 24px;
}

article {
    margin-top: 8em;
    margin-bottom: 8em;
}

article h2 {
    text-align: center;
    margin-bottom: 8em;
    font-family: 'Lora';
}

.search-form {
    margin-top: 5em;
    display: flex;
    justify-content: center;
}

.search-form form {
    width: 100%;
}

.search-form input {
    border-style: solid;
    width: 25%;
    height: 2em;
    border-radius: 10px;
}

fieldset {
    border: 0;
    margin-bottom: 0.5em;
    padding: 0;
    text-align: center;
}

/*Footer style*/

footer {
    width: 100%;
    height: 20em;
    background-color: #D4A272;
}